/* Estilos para el formulario de registro */
body{
  background-image: url(https://i.pinimg.com/236x/b8/00/f4/b800f40a9456db0129bd20e261807366.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color:white;
  }
  